@model TorneiroMataMata.UI.Models.ViewModels.TimeViewModel.TimeIndexViewModel

@{
    ViewBag.Title = "Avançar Time";
}

<h2>Avançar Time</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>TimeIndexViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TimeId)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
  
    <div class="form-group">
        @Html.LabelFor(model => model.GrupoId, "GrupoId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("GrupoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GrupoId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "FaseDeGrupos")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
